@mixin buttonHover {
    box-shadow: 0px 0px 10px grey;
    // background: rgb(166, 201, 247);
    font-size: 15px;
    cursor: pointer;
}
@mixin button {
    padding: 5px 10px;
    border-radius: 10%;
    border: 1px solid gray;
    background: white;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100px;
    background: burlywood;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100%;
    // height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__wrapper{
        margin-top: 20px;
        width: 50%;
        min-height:400px;
        border: 1px solid grey;
        box-shadow: 0px 0px 5px grey;
    }
    &__button{
        margin-top: 20px;
        width: 10%;
        height: 40px;
    }
    &__add{
        padding: 10px 20px;
        border-radius: 10%;
        border: 1px solid gray;
        background: white;
    }
    &__add:hover{

        @include buttonHover();
       
    }
}
.transition{
    transition: 1s;
}

.contact{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    &__link{
        display: flex;
        width: 85%;
        height: inherit;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
    &__icon{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: burlywood;
    }
    &__name{
        width: 50px;
        height: 20px;
    }
    &__number{
        width: 50px;
    }
    &__button{
        width: 10%;
        height: 30px;
    }
    &__delete{
        @include button();
    }
    &__delete:hover{
        @include buttonHover();
        font-size: inherit;
    }
}

.contact:hover{
    background: gray;
    cursor: pointer;
}

.popup{
    width: 40%;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border-radius: 10px;
    position: fixed;
    top: 150px;
    left: 30%;
    &__header{
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 20px;
        &-close:hover{
            cursor: pointer;
        }
    }
    &__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;

        &-input{
            margin-top: 10px;
            background: inherit;
            border: 1px solid white;
            height: 25px;
            width: 50%; 
        }
    }
    &__main span{
        margin-top: 10px;
    }
    &__footer{
        padding: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-text{
            color: red;
        }
        &-btn{
            width: 40px;
            height: 20px;
        }
        &-add{
            @include button();
            background: linear-gradient(45deg, #EECFBA, #C5DDE8);
            border: none;
            
        }
        &-close{
            @include button();
            background: linear-gradient(45deg, #EECFBA, #C5DDE8);
            border: none;
        }
        &-add:hover{
            @include buttonHover();
            background: white;
            
        }
        &-close:hover{
            @include buttonHover();
            background: white;
        }
    }
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__btnAdd{
        margin-top: 20px;
        @include button();
        padding: 10px 20px;
    }
    &__btnAdd:hover{
        @include buttonHover();
    }
    &__wrapper{
        margin-top: 20px;
        width: 50%;
        min-height: 300px;
        border: 1px solid grey;
        box-shadow: 0px 0px 5px grey;
        display: flex;
        flex-direction: column;
        padding: 15px;
        &-info{
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            font-family: sans-serif;
            margin-top: 10px;
            padding: 10px;
            // text-align: center;
        }

        &-info:hover{
            background-color: gray;
            color: white;
        }
        &-info:hover &-btn{
            visibility: visible;
        }
        &-key{
            // text-align: right;
            width: 40%;
        }
        &-value{
            width: 40%;
        }
        &-btn{
            @include button();
            visibility: hidden;
        }
        &-btn:hover{
            cursor: pointer;
        }
    }
    

}
.button-back, .button-reset{
    margin-top: 20px;
    margin-left: 50px;
}

.button-reset:hover{
    cursor: pointer;
}
.cansel{
    background: #004c6e;
    min-height: 200px;
}

@media only screen and (max-width:900px)
{
    .main{
        &__wrapper{
            width: 90%;
        }
    }
    .info{
        &__wrapper{
            width: 90%;
            text-align: center;
            &-info{
                flex-direction: column;
                align-items: center;
            }
            &-btn{
                margin-top: 10px;
            }
        }
        &__btnAdd{
            margin-bottom: 20px;
        }
    }
    .contact{
        &__name{
            overflow: hidden;
        }
        
    }
}
@media only screen and (max-width:520px)
{
    .contact{
        &__link{
            width: 70%;
        }
        &__number{
            width: 70px;
            overflow: hidden;
        }
        
    }
    .main{
        &__button{
            text-align: center;
            width: 50%;
            margin: 10px 0 10px 0;
        }
    }
}